@model WebApplication1_NoteMarketPlace.Models.AddNoteModel
@{
    ViewBag.Title = "Add Note";
    Layout = "~/Views/Shared/Member_layout.cshtml";
}

<!-- Add Notes banner -->
<div class="banner-image m-t-100">
    <div class="banner-text">
        <h1>Add Notes</h1>
    </div>
</div>
<!-- Add Notes end -->

<!-- Add Notes Form -->
<div class="container form-wrap">

    <div>

        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="form-heading">
                <h3>Basic Note Details</h3>
            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="Title">Title *</label>
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Enter your notes tiitle" })
                </div>

                <div class="form-group col-md-6">
                    <label for="category">Category *</label>
                    <div class="input-group mb-3">
                        @Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.CategoryList, "ID","Name"),"Select your category", new{@class = "form-control" })
                    </div>
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="profilePic">Display Picture</label>
                    <div class="upload-input">

                        @Html.TextBoxFor(model => model.DisplayPicture, new { @class = "form-control", type = "file", accept = "image/jpeg, image/jpg, image/png" })

                        <div class="upload-img" id="upload_dp">
                            <img src="~/Content/images/User-Profile/upload.png" alt="upload">
                            <p>Upload a picture</p>
                        </div>

                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="profilePic">Upload Notes *</label>
                    <div class="upload-input">

                        @Html.TextBoxFor(model => model.UploadNotes, new { @class = "form-control", type = "file", accept = "application/pdf", required = "required"})

                        <div class="upload-img" id="upload_notes">
                            <img src="~/Content/images/icons/upload-note.png" alt="upload">
                            <p>Upload a picture</p>
                        </div>

                    </div>
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="getNote">Type</label>
                    <div class="input-group mb-3">
                        @Html.DropDownListFor(model => model.NoteType, new SelectList(ViewBag.NoteTypeList, dataValueField: "ID", dataTextField:"Name"), "Select your note type", new { @class = "form-control"})
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="pages">Number of Pages</label>
                    @Html.TextBoxFor(model => model.NumberofPages, new { @class ="form-control", placeholder = "Enter number of pages"})
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-12">

                    <label for="discription">Description *</label>
                    @Html.TextAreaFor(model => model.Description, new { @class ="form-control", placeholder = "Enter your decription"})

                </div>

            </div>

            <div class="form-heading">
                <h3>Institution Information</h3>
            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="country">Country *</label>
                    <div class="input-group mb-3">

                        @Html.DropDownListFor(model => model.Country, new SelectList(ViewBag.CountryList, "ID", "Name" ), "Select your country", new { @class = "form-control"})
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="institution">Institution Name</label>
                    @Html.TextBoxFor(model => model.UniversityName, new { @class = "form-control", placeholder = "Enter your institution name"})
                </div>

            </div>


            <div class="form-heading">
                <h3>Course Details</h3>
            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="course-name">Course Name</label>
                    @Html.TextBoxFor(model => model.Course, new { @class = "form-control", placeholder = "Enter your course name"})
                </div>

                <div class="form-group col-md-6">
                    <label for="course-code">Course Code</label>
                    @Html.TextBoxFor(model => model.CourseCode, new { @class = "form-control", placeholder = "Enter your course code"})
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="professor">Professor / Lecturer</label>
                    @Html.TextBoxFor(model => model.Professor, new { @class = "form-control", placeholder = "Enter your professor name"})
                </div>

            </div>


            <div class="form-heading">
                <h3>Selling Information</h3>
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputfname">Sell For*</label>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(model => model.SellType, "Free", new { @checked = "checked"})
                            <label class="form-check-label" for="inlineRadio1" style="margin-left: 10px;">Free</label>
                        </div>
                        <div class="form-check form-check-inline">
                            @Html.RadioButtonFor(model => model.SellType, "Paid")
                            <label class="form-check-label" for="inlineRadio2" style="margin-left: 10px;">Paid</label>
                        </div>

                        <div class="form-group">
                            <label for="sell-price">Sell Price *</label>
                            @Html.TextBoxFor(model => model.SellingPrice, new { @class = "form-control", placeholder = "Enter your price"})
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="NotePreview">Note Preview</label>
                    <div class="upload-input">

                        @Html.TextBoxFor(model => model.NotePreview, new { @class = "form-control", type = "file", accept = "application/pdf" })

                        <div class="upload-img" id="NotePreview_img">
                            <img src="~/Content/images/icons/upload-file.png" alt="upload">
                            <p>Upload a picture</p>
                        </div>

                    </div>
                </div>

            </div>

            <button type="submit" formaction="@(ViewBag.Edit == true ? "Save?id=" + Model.ID : "Save")" class="btn btn-primary m-b-60" id="submit-btn-user">SAVE</button>
            <button type="submit" formaction="@(ViewBag.Edit == true ? "Publish?id=" + Model.ID : "Publish")" class="btn btn-primary btn-right m-b-60" id="submit-btn-user">PUBLISH</button>

        }

    </div>
</div>
<!-- Add Notes Form end-->

<script>
    function disable() {
        document.getElementById("sell-price").disabled = true;
    }

    function undisable() {
        document.getElementById("sell-price").disabled = false;
    }
</script>